build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/bhavya1099/voter

    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-voter
deploy:
  type: text
  content: >+
    #/bin/sh

    cd $ROOST_WORK_DIR/git/bhavya1099/voter


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    echo "helm install api-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}"


    helm upgrade ui-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}

test:
  - name: service-test-suite
    configType: cypress
    configPath: service-test-suite/voter
lastUpdatedBy: Bhavya Goswami
lastUpdatedOn: 2022-08-02T10:57:37.764Z
