build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    BALLOT_ENDPOINT="http://myvote-on-demand-harish-224.ballot.54.183.236.179.nip.io"
    ECSERVER_ENDPOINT="http://myvote-on-demand-harish-224.ecserver.54.183.236.179.nip.io/"

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE},ballot_endpoint=${BALLOT_ENDPOINT},ecserver_endpoint=${ECSERVER_ENDPOINT}"

    helm upgrade testnow-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: harish
lastUpdatedOn: 2023-03-02T13:18:41.097Z
