build:
  type: text
  content: |
    #/bin/sh

    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
deploy:
  type: None
  content: ''
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: None
  content: ''
lastUpdatedBy: harish
lastUpdatedOn: 2022-11-21T14:29:00.937Z
