build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+

test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: ''
lastUpdatedBy: harish
lastUpdatedOn: 2022-09-28T06:01:27.680Z
