build:
  type: buildpack
  content:
    image: ''
    tag: latest
    path: ''
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: None
  content: ''
lastUpdatedBy: harish
lastUpdatedOn: 2022-10-13T05:24:02.319Z
