build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm upgrade testnow-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: |-
    #!/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=latest,namespace=${ROOST_NAMESPACE},registry=zbio"


    helm upgrade testnow-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
lastUpdatedBy: harish
lastUpdatedOn: 2022-12-29T06:30:12.098Z
