build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    helm upgrade try11-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: harish
lastUpdatedOn: 2022-10-11T12:49:46.551Z
