build:
  type: text
  content: |-
    #/bin/sh
    cd ./ && make
    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
    docker build -f service-test-suite/Dockerfile -t service-test-suite:$GIT_COMMIT_ID service-test-suite 
    docker tag service-test-suite:$GIT_COMMIT_ID  service-test-suite:$ROOST_NAMESPACE  
deploy:
  type: path
  content: ''
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: path
  content: ''
lastUpdatedBy: harish
lastUpdatedOn: 2022-10-14T06:10:19.270Z
